@import url('./root.css');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}

.button-wrap {
    display: flex;
    margin-top: 20px;
}

.button-wrap button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    background: transparent;
    color: #ffffff;
    border: 2px solid #f08080;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 15px;
    width: 200px;
    padding: 8px;
    text-decoration: none;
    transition: 250ms;
}

.button-wrap button#converter {
    border-color: #80d0f0;
}

.button-wrap button:hover {
    background: #f08080;
    color: black;
}

.button-wrap button#converter:hover {
    background: #80d0f0;
    color: black;
}

.button-wrap button:active,
.button-wrap button#converter:active {
    transition: none;
    background: #90ee90;
    border-color: #90ee90;
}